@import '~antd/lib/style/themes/default.less';

:global {
  .tongyu-cell-diff {
    background-color: @primary-3 !important;
  }
  .tongyu-cell {
    transition: background-color 0.5s;
    &.editable {
      position: relative;
      &.rendering {
        &:hover {
          cursor: pointer;
          -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
          box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
          z-index: 999;
        }
        &::after {
          content: '';
          display: block;
          width: 10px;
          height: 10px;
          right: 4px;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          background: url('../assets/editing.png') top center;
          background-size: 100% auto;
          visibility: visible;
        }
      }
    }
  }
}
