@import '~antd/lib/style/themes/default.less';

.listItem {
  .icon {
    visibility: hidden;
    margin-left: 4px;
    i {
      padding: 0 4px;
      font-size: 14px;
    }
  }
  &:hover .icon {
    visibility: visible;
  }
  .value {
    width: 150px;
    margin: 3px 0;
    display: inline-block;
    color: rgba(0, 0, 0, 0.65);
  }
  button {
    border: none;
    padding: 3px !important;
  }
}
.label {
  display: inline-block;
  span {
    width: 80px;
  }
}
.menberTable {
  float: left;
}
.auditingWrapper {
  :global {
    .ant-card-body {
      display: flex;
      min-height: 720px;
      padding: 0;
      background: #f3f3f3;
    }
  }
}
.center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.modelInput {
  text-align: center;
  span {
    margin-right: 15px;
  }
  :global {
    .ant-input {
      width: 320px;
    }
  }
}
