@import '~antd/lib/style/themes/default.less';

.lists {
  :global {
    .ant-list-item,
    .ant-list-something-after-last-item
      .ant-spin-container
      > .ant-list-items
      > .ant-list-item:last-child {
      border: none;
      padding: 0;
    }
    .ant-list-items {
      padding: '0 15px 15px 15px';
    }
    .ant-list-item:hover {
      // background: #1890ff;
      background: rgb(130, 187, 236);
    }
  }
}
.listItem1 {
  background: #1890ff;
}

.listItem1,
.listItem2 {
  .icon {
    visibility: hidden;
    margin-left: 4px;

    i {
      padding: 9px;
      font-size: 14px;
    }
  }

  &:hover .icon {
    visibility: visible;
  }
  .name {
    width: 150px;
    margin: 3px 0;
    display: inline-block;
    padding: 3px 0;
    padding-left: 6px;
  }

  .value {
    width: 150px;
    margin: 3px 0;
    display: inline-block;
    color: rgba(0, 0, 0, 0.65);
    padding: 3px 0;
    padding-left: 6px;
  }

  .background {
    width: 150px;
    margin: 3px 0;
    display: inline-block;
    color: rgba(0, 0, 0, 0.65);
    padding: 3px 0;
    padding-left: 6px;
    background: #cce7f2;
  }

  button {
    border: none;
    padding: 3px !important;
  }
}

.label {
  display: inline-block;

  span {
    width: 80px;
  }
}

.menberTable {
  width: 100%;
  float: left;
}

.auditingWrapper {
  :global {
    .ant-card-body {
      display: flex;
      min-height: 720px;
      padding: 0;
      background: #f3f3f3;
    }
  }
}

.center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.modelInput {
  text-align: center;

  span {
    margin-right: 15px;
  }

  :global {
    .ant-input {
      width: 320px;
    }
  }
}

.userTable {
  :global {
    .ant-table.ant-table-default tbody > tr > td {
      min-width: 100px;
      max-width: 130px;
    }
  }
}
