@import '~antd/lib/style/themes/default.less';
@import '~@/utils/utils.less';
@import '../style/themes.less';

@prefix: ~'@{tongyu-prefix}-section';

:global {
  .@{prefix} {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
