@import '~antd/lib/style/themes/default.less';

@table-padding-vertical-md: @table-padding-vertical * 3 / 4;
@table-padding-horizontal-md: @table-padding-horizontal / 2;
@table-padding-vertical-sm: @table-padding-vertical / 2;
@table-padding-horizontal-sm: @table-padding-horizontal / 2;

@table-cell-width: 300px;
@table-cell-width-md: 250px;
@table-cell-width-sm: 200px;

@table-cell-height: @input-height-lg * 1.3;
@table-cell-height-md: @input-height-base * 1.3;
@table-cell-height-sm: @input-height-sm * 1.3;

:global {
  .@{ant-prefix}-table {
    .ant-form-explain,
    .ant-form-extra {
      position: absolute;
      top: -100%;
      right: 0;
      z-index: 1;
      height: 20px;
      margin-top: -10px;
      font-size: 14px;
      line-height: 20px;
      visibility: visible;
      min-width: 30px;
      min-height: 32px;
      padding: 6px 8px;
      color: #fff;
      text-align: left;
      text-decoration: none;
      word-wrap: break-word;
      background-color: rgba(0, 0, 0, 0.75);
      border-radius: 4px;
      -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
      &::after {
        content: '';
        bottom: -5px;
        right: 11px;
        border-width: 5px 5px 0 5px;
        position: absolute;
        width: 0;
        height: 0;
        border-style: solid;
        border-color: transparent;
        border-top-color: rgba(0, 0, 0, 0.75);
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        color: rgba(0, 0, 0, 0.65);
        font-size: 14px;
        font-variant: tabular-nums;
        line-height: 1.5;
        list-style: none;
        font-feature-settings: 'tnum';
        z-index: 1060;
        display: block;
        max-width: 250px;
        visibility: visible;
      }
    }

    .ant-form-item-control {
      line-height: inherit;
    }

    .ant-form-item {
      margin-bottom: 0;
    }

    &.@{ant-prefix}-table-default {
      tbody {
        > tr {
          &.@{ant-prefix}-table-expanded-row {
            > td {
              padding: @table-padding-vertical @table-padding-horizontal;
            }
          }
          > td {
            padding: 0 @table-padding-horizontal;
            height: @table-cell-height;
          }
        }
      }
    }

    &.@{ant-prefix}-table-middle {
      tbody {
        > tr {
          &.@{ant-prefix}-table-expanded-row {
            > td {
              padding: @table-padding-vertical-md @table-padding-horizontal-md;
            }
          }
          > td {
            padding: 0 @table-padding-horizontal-md;
            height: @table-cell-height-md;
          }
        }
      }
    }

    &.@{ant-prefix}-table-small {
      tbody {
        > tr {
          &.@{ant-prefix}-table-expanded-row {
            > td {
              padding: @table-padding-vertical-sm @table-padding-horizontal-sm;
            }
          }
          > td {
            padding: 0 @table-padding-horizontal-sm;
            height: @table-cell-height-sm;
          }
        }
      }
    }
  }

  .@{ant-prefix}-table-vertical {
    .@{ant-prefix}-table-row-indent {
      display: none;
    }

    .@{ant-prefix}-table-row-expand-icon {
      &.@{ant-prefix}-table-row-spaced {
        display: none;
      }
    }

    .ant-table-empty {
      .ant-table-content {
        .ant-table-body {
          // 出现滚动条
          width: auto;
        }
      }
    }

    .ant-table-content {
      display: flex;
      flex-direction: row;
      .ant-table-placeholder {
        flex-grow: 1;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .ant-table-body {
        // 出现滚动条
        width: 100%;
      }
    }

    table {
      display: flex;
      flex-direction: row;
    }

    thead {
      display: flex;
      flex-direction: row;
      overflow-x: scroll;
    }

    tbody {
      flex-grow: 1;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      overflow-x: scroll;
    }

    tr {
      display: flex;
      flex-direction: column;
    }

    th,
    td {
      display: flex;
      align-items: center;
      flex-grow: 1;
      .ant-spin-nested-loading {
        width: 100%;
      }
    }
  }
}
