@import '~antd/lib/style/themes/default.less';
@import '../style/common.less';
@import '../style/themes.less';

@table-padding-vertical-md: @table-padding-vertical * 3 / 4;
@table-padding-horizontal-md: @table-padding-horizontal / 2;
@table-padding-vertical-sm: @table-padding-vertical / 2;
@table-padding-horizontal-sm: @table-padding-horizontal / 2;

@table-cell-width: 300px;
@table-cell-width-md: 250px;
@table-cell-width-sm: 200px;

@table-cell-height: @input-height-lg * 1.3;
@table-cell-height-md: @input-height-base * 1.3;
@table-cell-height-sm: @input-height-sm * 1.3;

@keyframes antShowHelpIn {
  0% {
    transform: translateY(-5px);
    opacity: 0;
  }
  100% {
    transform: translateY(-50%);
    opacity: 1;
  }
}
@keyframes antShowHelpOut {
  to {
    transform: translateY(-5px);
    opacity: 0;
  }
}

:global {
  .@{ant-prefix}-table {
    .ant-form-explain,
    .ant-form-extra {
      right: 0;
      bottom: calc(100% + 10px);
      position: absolute;
      z-index: 9999;
      font-size: 14px;
      line-height: 20px;
      visibility: visible;
      min-width: 30px;
      min-height: 32px;
      padding: 6px 8px;
      color: #fff;
      text-align: left;
      text-decoration: none;
      word-wrap: break-word;
      background-color: rgba(0, 0, 0, 0.75);
      border-radius: 4px;
      -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
      box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
      &::after {
        content: '';
        bottom: -5px;
        right: 11px;
        border-width: 5px 5px 0 5px;
        position: absolute;
        width: 0;
        height: 0;
        border-style: solid;
        border-color: transparent;
        border-top-color: rgba(0, 0, 0, 0.75);
        box-sizing: border-box;
        margin: 0;
        padding: 0;
        color: rgba(0, 0, 0, 0.65);
        font-size: 14px;
        font-variant: tabular-nums;
        line-height: 1.5;
        list-style: none;
        font-feature-settings: 'tnum';
        z-index: 1060;
        display: block;
        max-width: 250px;
        visibility: visible;
      }
    }

    .ant-form-item-control {
      line-height: inherit;
    }

    .ant-form-item {
      margin-bottom: 0;
    }

    &.@{ant-prefix}-table-default {
      .ant-form-explain,
      .ant-form-extra {
        left: calc(100% + @table-padding-horizontal + 5px);
      }
      tbody {
        > tr {
          &.@{ant-prefix}-table-expanded-row {
            > td {
              padding: @table-padding-vertical @table-padding-horizontal;
            }
          }
          > td {
            padding: 0 @table-padding-horizontal;
            height: @table-cell-height;
          }
        }
      }
    }

    &.@{ant-prefix}-table-middle {
      .ant-form-explain,
      .ant-form-extra {
        left: calc(100% + @table-padding-horizontal-md + 5px);
      }
      tbody {
        > tr {
          &.@{ant-prefix}-table-expanded-row {
            > td {
              padding: @table-padding-vertical-md @table-padding-horizontal-md;
            }
          }
          > td {
            padding: 0 @table-padding-horizontal-md;
            height: @table-cell-height-md;
          }
        }
      }
    }

    &.@{ant-prefix}-table-small {
      .ant-form-explain,
      .ant-form-extra {
        left: calc(100% + @table-padding-horizontal-sm + 5px);
      }
      tbody {
        > tr {
          &.@{ant-prefix}-table-expanded-row {
            > td {
              padding: @table-padding-vertical-sm @table-padding-horizontal-sm;
            }
          }
          > td {
            padding: 0 @table-padding-horizontal-sm;
            height: @table-cell-height-sm;
          }
        }
      }
    }
  }

  .@{ant-prefix}-table-vertical {
    // 修复表头不对齐
    .ant-table-small > .ant-table-content > .ant-table-header > table > .ant-table-thead > tr,
    .ant-table-small > .ant-table-content > .ant-table-body > table > .ant-table-thead > tr,
    .ant-table-small
      > .ant-table-content
      > .ant-table-scroll
      > .ant-table-header
      > table
      > .ant-table-thead
      > tr,
    .ant-table-small
      > .ant-table-content
      > .ant-table-scroll
      > .ant-table-body
      > table
      > .ant-table-thead
      > tr,
    .ant-table-small
      > .ant-table-content
      > .ant-table-fixed-left
      > .ant-table-header
      > table
      > .ant-table-thead
      > tr,
    .ant-table-small
      > .ant-table-content
      > .ant-table-fixed-right
      > .ant-table-header
      > table
      > .ant-table-thead
      > tr,
    .ant-table-small
      > .ant-table-content
      > .ant-table-fixed-left
      > .ant-table-body-outer
      > .ant-table-body-inner
      > table
      > .ant-table-thead
      > tr,
    .ant-table-small
      > .ant-table-content
      > .ant-table-fixed-right
      > .ant-table-body-outer
      > .ant-table-body-inner
      > table
      > .ant-table-thead
      > tr {
      border-bottom: none;
    }

    .ant-table:not(.ant-table-empty) {
      &.ant-table-small > {
        .ant-table-content .ant-table-placeholder,
        .ant-table-content .ant-table-row:last-child td {
          border-bottom: 1px solid #e8e8e8;
        }
      }
    }

    .show-help-enter.show-help-enter-active,
    .show-help-appear.show-help-appear-active {
      :local {
        animation-name: antShowHelpIn;
      }
    }
    .show-help-leave.show-help-leave-active {
      :local {
        animation-name: antShowHelpOut;
      }
    }

    .ant-form-explain,
    .ant-form-extra {
      right: inherit;
      bottom: inherit;
      left: 100%;
      top: 50%;
      width: 100%;
      transform: translateY(-50%);

      &::after {
        content: '';
        right: inherit;
        bottom: inherit;
        top: 50%;
        transform: translateY(-50%);
        left: -5px;
        border-width: 5px 5px 5px 0;
        border-right-color: rgba(0, 0, 0, 0.75);
        border-top-color: transparent;
      }
    }

    .has-feedback > .ant-select .ant-select-arrow,
    .has-feedback > .ant-select .ant-select-selection__clear,
    .has-feedback :not(.ant-input-group-addon) > .ant-select .ant-select-arrow,
    .has-feedback :not(.ant-input-group-addon) > .ant-select .ant-select-selection__clear {
      right: 28px;
    }

    .has-feedback .ant-calendar-picker-icon,
    .has-feedback .ant-time-picker-icon,
    .has-feedback .ant-calendar-picker-clear,
    .has-feedback .ant-time-picker-clear {
      right: 28px;
    }

    .ant-input-number-handler-wrap {
      z-index: 2;
    }

    .@{ant-prefix}-table-row-indent {
      display: none;
    }

    .@{ant-prefix}-table-row-expand-icon {
      &.@{ant-prefix}-table-row-spaced {
        display: none;
      }
    }

    .ant-table-empty {
      .ant-table-content {
        .ant-table-body {
          // 出现滚动条
          width: auto;
        }
      }
    }

    .ant-table-content {
      display: flex;
      flex-direction: row;
      .ant-table-placeholder {
        flex-grow: 1;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .ant-table-body {
        // 出现滚动条
        width: 100%;
      }
    }

    table {
      display: flex;
      flex-direction: row;
    }

    thead {
      display: flex;
      flex-direction: row;
      overflow-x: scroll;
    }

    tbody {
      flex-grow: 1;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      overflow-x: scroll;
      overflow-y: hidden;
    }

    tr {
      display: flex;
      flex-direction: column;
    }

    th,
    td {
      display: flex;
      align-items: center;
      flex-grow: 1;
      .ant-spin-nested-loading {
        width: 100%;
      }
    }
  }
  .ant-table-vertical .ant-table-thead tr th {
    width: 160px;
  }
}
